<!--
    - Les doubles accollades ({{}}) traduisent : l'interpolation => binding( fonctionne aussi avec une methode)
    - Les pipes(uppercase) grace aux pipeOperators(|) permettent de formatter correctement des objets(dates, strings...)
    <h2><div>{{hero.name | uppercase}}</div></h2>
    <div><span>id: {{hero.id}}</span></div>
    <div><span>name: {{hero.name}}</span></div>
-->
<div>
  <label>name:</label>
  <!--
    Two-way binding : permet d'effectuer un transfert de donné de l'input vers la propriété de la classe et vis-versa
    Ne pas oublier d'importer la libraiie des formulaires : formsModule dans app.module/imports
    -->
  <input [(ngModel)]="hero.name" placeholder="name">
</div>
